In [37]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import  DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [38]:
fraud=pd.read_csv("Fraud_Check.csv")
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [39]:
fraud.dtypes

Undergrad          object
Marital.Status     object
Taxable.Income      int64
City.Population     int64
Work.Experience     int64
Urban              object
dtype: object

Converting categorical data

In [40]:
fraud=pd.get_dummies(fraud,columns=['Undergrad','Marital.Status','Urban'], drop_first=True)
fraud

,Taxable.Income,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES
0,68833,50047,10,0,0,1,1
1,33700,134075,18,1,0,0,1
2,36925,160205,30,0,1,0,1
3,50190,193264,15,1,0,1,1
4,81002,27533,28,0,1,0,0
...,...,...,...,...,...,...,...
595,76340,39492,7,1,0,0,1
596,69967,55369,2,1,0,0,1
597,47334,154058,0,0,0,0,1
598,98592,180083,17,1,1,0,0
599,96519,158137,16,0,0,0,0

In [41]:
fraud["TaxInc"] = pd.cut(fraud["Taxable.Income"], bins = [10002,30000,99620], labels = ["Risky", "Good"])
fraud

,Taxable.Income,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES,TaxInc
0,68833,50047,10,0,0,1,1,Good
1,33700,134075,18,1,0,0,1,Good
2,36925,160205,30,0,1,0,1,Good
3,50190,193264,15,1,0,1,1,Good
4,81002,27533,28,0,1,0,0,Good
...,...,...,...,...,...,...,...,...
595,76340,39492,7,1,0,0,1,Good
596,69967,55369,2,1,0,0,1,Good
597,47334,154058,0,0,0,0,1,Good
598,98592,180083,17,1,1,0,0,Good
599,96519,158137,16,0,0,0,0,Good

we can assume taxable income<=30000 as risky=0 and others are good=1

In [42]:
fraud= pd.get_dummies(fraud,columns = ["TaxInc"],drop_first=True)
fraud

,Taxable.Income,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES,TaxInc_Good
0,68833,50047,10,0,0,1,1,1
1,33700,134075,18,1,0,0,1,1
2,36925,160205,30,0,1,0,1,1
3,50190,193264,15,1,0,1,1,1
4,81002,27533,28,0,1,0,0,1
...,...,...,...,...,...,...,...,...
595,76340,39492,7,1,0,0,1,1
596,69967,55369,2,1,0,0,1,1
597,47334,154058,0,0,0,0,1,1
598,98592,180083,17,1,1,0,0,1
599,96519,158137,16,0,0,0,0,1

In [43]:
# let's plot pair plot to visualise the attributes all at once
import seaborn as sns
sns.pairplot(data=fraud, hue = 'TaxInc_Good')

In [44]:
# Normalization function 
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [45]:
# Normalized data frame (considering the numerical part of data)
fraud_norm = norm_func(fraud.iloc[:,1:])
fraud_norm

,City.Population,Work.Experience,Undergrad_YES,Marital.Status_Married,Marital.Status_Single,Urban_YES,TaxInc_Good
0,0.139472,0.333333,0.0,0.0,1.0,1.0,1.0
1,0.622394,0.600000,1.0,0.0,0.0,1.0,1.0
2,0.772568,1.000000,0.0,1.0,0.0,1.0,1.0
3,0.962563,0.500000,1.0,0.0,1.0,1.0,1.0
4,0.010081,0.933333,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...
595,0.078811,0.233333,1.0,0.0,0.0,1.0,1.0
596,0.170058,0.066667,1.0,0.0,0.0,1.0,1.0
597,0.737240,0.000000,0.0,0.0,0.0,1.0,1.0
598,0.886810,0.566667,1.0,1.0,0.0,0.0,1.0
599,0.760683,0.533333,0.0,0.0,0.0,0.0,1.0

In [46]:
# Declaring features & target
X = fraud_norm.drop(['TaxInc_Good'], axis=1)
y = fraud_norm['TaxInc_Good']

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
# Splitting data into train & test
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
##Converting the Taxable income variable to bucketing. 
fraud_norm["income"]="<=30000"
fraud_norm.loc[fraud["Taxable.Income"]>=30000,"income"]="Good"
fraud_norm.loc[fraud["Taxable.Income"]<=30000,"income"]="Risky"

In [53]:
##Droping the Taxable income variable
fraud.drop(["Taxable.Income"],axis=1,inplace=True)

In [54]:
fraud.rename(columns={"Undergrad":"undergrad","Marital.Status":"marital","City.Population":"population","Work.Experience":"experience","Urban":"urban"},inplace=True)

In [55]:
from sklearn import preprocessing

In [57]:
le=preprocessing.LabelEncoder()
for column_name in fraud.columns:
    if fraud[column_name].dtype == object:
        fraud[column_name] = le.fit_transform(fraud[column_name])
    else:
        pass

In [59]:
##Splitting the data into featuers and labels
features = fraud.iloc[:,0:5]
labels = fraud.iloc[:,5]

In [61]:
## Collecting the column names
colnames = list(fraud.columns)
predictors = colnames[0:5]
target = colnames[5]

In [62]:
x_train,x_test,y_train,y_test = train_test_split(features,labels,test_size = 0.2,stratify = labels)

In [63]:
##Model building
from sklearn.ensemble import RandomForestClassifier as RF
model = RF(n_jobs = 3,n_estimators = 15, oob_score = True, criterion = "entropy")
model.fit(x_train,y_train)

C:\Users\mario\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:560: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(

RandomForestClassifier(criterion='entropy', n_estimators=15, n_jobs=3,
                       oob_score=True)

In [64]:
model.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1680071334),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1184492641),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1588782076),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=706711205),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=269612738),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1497666944),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2034954353),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2130839999),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1031268693),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1890956231),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1765015313),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1819415933),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1803579173),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=674588011),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=884659462)]

In [65]:
model.classes_

array([0, 1], dtype=uint8)

In [66]:
model.n_features_

C:\Users\mario\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:103: FutureWarning: Attribute `n_features_` was deprecated in version 1.0 and will be removed in 1.2. Use `n_features_in_` instead.
  warnings.warn(msg, category=FutureWarning)

5

In [67]:
model.n_classes_

2

In [68]:
model.n_outputs_

1

In [69]:
model.oob_score_

0.49583333333333335

In [70]:
##Predictions on train data
prediction = model.predict(x_train)

In [71]:
##Accuracy
# For accuracy 
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_train,prediction)

In [72]:
np.mean(prediction == y_train)

0.9895833333333334

In [75]:
#Confusion matrix
confusion = confusion_matrix(y_train,prediction)

In [76]:
#Prediction on test data
pred_test = model.predict(x_test)

In [78]:
acc_test =accuracy_score(y_test,pred_test)
acc_test

0.49166666666666664

# Decision Tree 

ENTROPY CRITERIA

In [79]:
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [82]:
from sklearn import tree
tree.plot_tree(model)

[Text(0.4583333333333333, 0.875, 'X[1] <= 7.5\nentropy = 1.0\nsamples = 480\nvalue = [238, 242]'),
 Text(0.25, 0.625, 'X[0] <= 197560.5\nentropy = 0.969\nsamples = 116\nvalue = [46, 70]'),
 Text(0.16666666666666666, 0.375, 'X[1] <= 0.5\nentropy = 0.962\nsamples = 114\nvalue = [44, 70]'),
 Text(0.08333333333333333, 0.125, 'entropy = 0.65\nsamples = 12\nvalue = [2, 10]'),
 Text(0.25, 0.125, 'entropy = 0.977\nsamples = 102\nvalue = [42, 60]'),
 Text(0.3333333333333333, 0.375, 'entropy = 0.0\nsamples = 2\nvalue = [2, 0]'),
 Text(0.6666666666666666, 0.625, 'X[0] <= 98165.0\nentropy = 0.998\nsamples = 364\nvalue = [192, 172]'),
 Text(0.5, 0.375, 'X[0] <= 50033.5\nentropy = 0.997\nsamples = 173\nvalue = [81, 92]'),
 Text(0.4166666666666667, 0.125, 'entropy = 0.967\nsamples = 56\nvalue = [34, 22]'),
 Text(0.5833333333333334, 0.125, 'entropy = 0.972\nsamples = 117\nvalue = [47, 70]'),
 Text(0.8333333333333334, 0.375, 'X[0] <= 100380.0\nentropy = 0.981\nsamples = 191\nvalue = [111, 80]'),
 Text(0.75, 0.125, 'entropy = 0.0\nsamples = 5\nvalue = [5, 0]'),
 Text(0.9166666666666666, 0.125, 'entropy = 0.986\nsamples = 186\nvalue = [106, 80]')]

In [84]:
colnames = list(fraud.columns)
colnames

['population',
 'experience',
 'Undergrad_YES',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_YES',
 'TaxInc_Good']

In [85]:
fn=['population','experience','Undergrad_YES','Marital.Status_Married','Marital.Status_Single','Urban_YES']
cn=['1', '0']
fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (4,4), dpi=300)
tree.plot_tree(model,
               feature_names = fn, 
               class_names=cn,
               filled = True)

[Text(0.4583333333333333, 0.875, 'experience <= 7.5\nentropy = 1.0\nsamples = 480\nvalue = [238, 242]\nclass = 0'),
 Text(0.25, 0.625, 'population <= 197560.5\nentropy = 0.969\nsamples = 116\nvalue = [46, 70]\nclass = 0'),
 Text(0.16666666666666666, 0.375, 'experience <= 0.5\nentropy = 0.962\nsamples = 114\nvalue = [44, 70]\nclass = 0'),
 Text(0.08333333333333333, 0.125, 'entropy = 0.65\nsamples = 12\nvalue = [2, 10]\nclass = 0'),
 Text(0.25, 0.125, 'entropy = 0.977\nsamples = 102\nvalue = [42, 60]\nclass = 0'),
 Text(0.3333333333333333, 0.375, 'entropy = 0.0\nsamples = 2\nvalue = [2, 0]\nclass = 1'),
 Text(0.6666666666666666, 0.625, 'population <= 98165.0\nentropy = 0.998\nsamples = 364\nvalue = [192, 172]\nclass = 1'),
 Text(0.5, 0.375, 'population <= 50033.5\nentropy = 0.997\nsamples = 173\nvalue = [81, 92]\nclass = 0'),
 Text(0.4166666666666667, 0.125, 'entropy = 0.967\nsamples = 56\nvalue = [34, 22]\nclass = 1'),
 Text(0.5833333333333334, 0.125, 'entropy = 0.972\nsamples = 117\nvalue = [47, 70]\nclass = 0'),
 Text(0.8333333333333334, 0.375, 'population <= 100380.0\nentropy = 0.981\nsamples = 191\nvalue = [111, 80]\nclass = 1'),
 Text(0.75, 0.125, 'entropy = 0.0\nsamples = 5\nvalue = [5, 0]\nclass = 1'),
 Text(0.9166666666666666, 0.125, 'entropy = 0.986\nsamples = 186\nvalue = [106, 80]\nclass = 1')]

In [86]:
fn=['population','experience','Undergrad_YES','Marital.Status_Married','Marital.Status_Single','Urban_YES']
cn=['1', '0']
fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (4,4), dpi=300)
tree.plot_tree(model,
               feature_names = fn, 
               class_names=cn,
               filled = True)

[Text(0.4583333333333333, 0.875, 'experience <= 7.5\nentropy = 1.0\nsamples = 480\nvalue = [238, 242]\nclass = 0'),
 Text(0.25, 0.625, 'population <= 197560.5\nentropy = 0.969\nsamples = 116\nvalue = [46, 70]\nclass = 0'),
 Text(0.16666666666666666, 0.375, 'experience <= 0.5\nentropy = 0.962\nsamples = 114\nvalue = [44, 70]\nclass = 0'),
 Text(0.08333333333333333, 0.125, 'entropy = 0.65\nsamples = 12\nvalue = [2, 10]\nclass = 0'),
 Text(0.25, 0.125, 'entropy = 0.977\nsamples = 102\nvalue = [42, 60]\nclass = 0'),
 Text(0.3333333333333333, 0.375, 'entropy = 0.0\nsamples = 2\nvalue = [2, 0]\nclass = 1'),
 Text(0.6666666666666666, 0.625, 'population <= 98165.0\nentropy = 0.998\nsamples = 364\nvalue = [192, 172]\nclass = 1'),
 Text(0.5, 0.375, 'population <= 50033.5\nentropy = 0.997\nsamples = 173\nvalue = [81, 92]\nclass = 0'),
 Text(0.4166666666666667, 0.125, 'entropy = 0.967\nsamples = 56\nvalue = [34, 22]\nclass = 1'),
 Text(0.5833333333333334, 0.125, 'entropy = 0.972\nsamples = 117\nvalue = [47, 70]\nclass = 0'),
 Text(0.8333333333333334, 0.375, 'population <= 100380.0\nentropy = 0.981\nsamples = 191\nvalue = [111, 80]\nclass = 1'),
 Text(0.75, 0.125, 'entropy = 0.0\nsamples = 5\nvalue = [5, 0]\nclass = 1'),
 Text(0.9166666666666666, 0.125, 'entropy = 0.986\nsamples = 186\nvalue = [106, 80]\nclass = 1')]

In [87]:
preds = model.predict(x_test) # predicting on test data set 
pd.Series(preds).value_counts()

0    78
1    42
dtype: int64

In [88]:
preds

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0], dtype=uint8)

In [89]:
pd.crosstab(y_test,preds)

col_0       0   1
Urban_YES
0          42  18
1          36  24

In [90]:
# Accuracy 
np.mean(preds==y_test)

0.55

# Decision Tree

GINI CRITERIA

In [91]:
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=3)
model_gini.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [92]:
#Prediction and computing the accuracy
pred=model.predict(x_test)
np.mean(preds==y_test)

0.55

# Decision Tree 

REGRESSION

In [93]:
from sklearn.tree import DecisionTreeRegressor

In [94]:
array = fraud.values
X = array[:,0:3]
y = array[:,3]

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [96]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

DecisionTreeRegressor()

In [97]:
#Find the accuracy
model.score(X_test,y_test)

-0.8931902985074629