In [17]:
import pandas as pd 
import numpy as np
from scipy import stats

In [3]:
df=pd.read_csv('Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [6]:
df.Phillippines.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [7]:
df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [8]:
df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [9]:
df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [10]:
list_all=([271,267,269,280],[29,33,31,20])
list_all

([271, 267, 269, 280], [29, 33, 31, 20])

In [14]:
# for significance of 5% 
stats.t.ppf(0.975,299)

1.9679296690653618

In [21]:
stats.ttest_1samp(list_all,0.5)

Ttest_1sampResult(statistic=array([1.23553719, 1.27777778, 1.25630252, 1.15      ]), pvalue=array([0.43317201, 0.42274492, 0.42799245, 0.45565652]))