In [22]:
import pandas as pd

In [24]:
df=read_csv("Company_Data(1).csv")
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [25]:
df = pd.get_dummies(df, columns =['ShelveLoc','Urban','US'])

In [26]:
df['sales']='small'
df.loc[df['Sales'] > 7.5,'sales'] = "large"
df.drop(['Sales'], axis=1,inplace = True)

In [27]:
array = df.values
df.columns

Index(['CompPrice', 'Income', 'Advertising', 'Population', 'Price', 'Age',
       'Education', 'ShelveLoc_Bad', 'ShelveLoc_Good', 'ShelveLoc_Medium',
       'Urban_No', 'Urban_Yes', 'US_No', 'US_Yes', 'sales'],
      dtype='object')

In [34]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [35]:
x = array[:,0:14]
y = array[:,14]

In [37]:
x_train,x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [38]:
# Applying RF
num_trees = 100
max_features = 3    #
kfold = KFold(n_splits=10)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features) 
model.fit(x_train,y_train)
pred = model.predict(x_test)

confusion_matrix(y_test, pred)

array([[50,  7],
       [ 9, 54]], dtype=int64)

In [39]:
results = cross_val_score(model, x,y, cv=kfold)
print(results.mean())
results

0.7925

array([0.775, 0.8  , 0.675, 0.825, 0.75 , 0.9  , 0.8  , 0.825, 0.75 ,
       0.825])

In [40]:
model.fit(x_train, y_train)

RandomForestClassifier(max_features=3)

In [42]:
pred = model.predict(x_test)
pred

array(['small', 'small', 'small', 'small', 'small', 'small', 'large',
       'small', 'large', 'large', 'small', 'small', 'small', 'large',
       'small', 'large', 'small', 'small', 'large', 'small', 'large',
       'small', 'large', 'small', 'small', 'large', 'large', 'small',
       'small', 'large', 'small', 'small', 'large', 'large', 'large',
       'small', 'large', 'large', 'small', 'large', 'large', 'large',
       'small', 'large', 'small', 'small', 'large', 'large', 'large',
       'large', 'small', 'large', 'large', 'large', 'small', 'small',
       'large', 'small', 'large', 'large', 'large', 'large', 'small',
       'large', 'large', 'large', 'small', 'large', 'large', 'small',
       'large', 'large', 'large', 'large', 'small', 'small', 'small',
       'small', 'small', 'small', 'small', 'small', 'large', 'small',
       'small', 'large', 'small', 'large', 'small', 'large', 'small',
       'small', 'large', 'large', 'small', 'large', 'large', 'large',
       'large', 'small', 'small', 'small', 'small', 'large', 'small',
       'small', 'small', 'large', 'large', 'small', 'small', 'large',
       'small', 'large', 'large', 'small', 'large', 'large', 'small',
       'small'], dtype=object)

In [43]:
data = pd.DataFrame({ "actual":y_test,"prection":pred})
data

    actual prection
0    small    small
1    small    small
2    small    small
3    small    small
4    small    small
..     ...      ...
115  small    small
116  large    large
117  large    large
118  small    small
119  small    small

[120 rows x 2 columns]

In [44]:
# Feature impotance
df1 = df.columns

In [45]:
df1= df1.drop(['sales'])

In [46]:
feature = model.feature_importances_

In [47]:
data = pd.DataFrame({'columns':df1,"importance":feature})
data.sort_values("importance",ascending=False)

             columns  importance
4              Price    0.206693
5                Age    0.124324
0          CompPrice    0.107791
1             Income    0.106394
2        Advertising    0.091952
3         Population    0.089953
8     ShelveLoc_Good    0.086393
6          Education    0.061293
7      ShelveLoc_Bad    0.048198
9   ShelveLoc_Medium    0.024654
11         Urban_Yes    0.013771
13            US_Yes    0.013485
12             US_No    0.012990
10          Urban_No    0.012108

In [48]:
 # Price  have high importance